/* Managed Color Schemes for the page*/
:root {
  --darkblue: #123c73;
  --lightblue: #1AA3D9;
  --red:#F20530;
  --navcolor: #b9c6ae;
}

/*Set the background color and found for the page*/
body {
    background-color: var(--darkblue);
    font-size: 1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*Centered content in header and footer*/
.content-footer,
.topheading,
.intro {
  text-align: center;
}

/*Created header image zooms into earth when you shrink the page*/
header {
    padding: 6em 0;
    background-image: url("space.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

/*Set spacing, size, and color for intro*/
.intro {
      margin-bottom: 0.1em;
      font-size: 2em;
      color: #ffffff;
  }

/*Set spacing, size, and color for heading*/
.topheading {
      margin-top: -0.2em;
      font-weight: bold;
      font-size: 6em;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: #ffffff;
}

/*Set spacing, size, and color for heading*/
nav ul {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2em;
    padding: 1.25em;
    background-color: var(--red);
    box-shadow: 0 .25em 1em 0 rgba(0, 0, 0, 1);
    overflow: hidden;
    list-style-type: none;
    text-decoration: none;
}

/*Corrected Margin for Smaller Screens*/
nav > ul > li:not(:last-child){
  margin-right: 20px;
}

/*Styled links to remove underline*/
a {
    text-decoration: none;
    color: white;
}

/*Styled article borders and margins */
.articleborder {
    border: .25em solid var(--lightblue);
    background-color: white;
    margin: 1em 1em 1em 1em;
    padding:inherit;
    font-size: 1.2em;
    box-shadow: 0 .25em 1em 0 rgba(0, 0, 0, 0.25);
}


/*Set Font Size for Header*/
  h1 {
    font-size: 1.4em;
  }
  
  .row {
    margin: 1.4em;
  }
  
  /* Added padding between the rows and columns*/
  .row,
  .row > .column {
    padding: 1em;
  }
  
  /* Centered additional projects */
  .column {
    display: inline-block;
    text-align: center;
    width: 25%;
  }
  
  /* Created hover for projects */
  .column:hover {
    background-color: var(--darkblue);
    opacity: 60%;
  }

  /* Created hover for coderefractor */
  .code:hover { 
    opacity: 60%;
  }

  /* Clear floats after rows */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 10px;
  }
  
  /* Creates two coloums when width is under 900px */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Columns stack under 600px */
  @media screen and (max-width: 600px) {
    .column  {
      width: 100%;
    }
  }

  /* Created styling and footer for the footer */
.footer {
    background-color:  var(--red);
    box-shadow: 0 .25em 1em 0 rgba(0, 0, 0, 0.25);
    color: #ffffff;
    height: 170px;
    text-align: center;
}

  /* Created styling and footer for the buttons*/
button {
    background-color: var(--lightblue); 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 .25em 1em 0 rgba(0, 0, 0, 0.25);
    padding: 1em;
  }

  /* Adjusted Opactiy*/
  button:hover { 
    opacity: 60%;
  }

  /*Fixed Alignment for Mobile*/
  footer > a {
    display: inline-block;
    margin-bottom: 4px;
}